.grid-container {
  margin: 20px;
}

.tile-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  gap: 2rem;
}

.grid-tile {
  min-height: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 2px 16px;
  border-radius: 5px;
  background: #ddd;
}

.skeleton {
  min-height: 250px;
  height: 100px;
  width: 100%; 
  border-radius: 5px;
  background: #888888;
  
  animation: load 1s infinite;
}

@keyframes load {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

.loading {
  display: none;
}