<div class="skeleton-dashboard">
  <div class="skeleton-header">
    <div class="skeleton-search"></div>
    <div class="skeleton-avatar"></div>
  </div>
  <div class="skeleton-content">
    <div class="skeleton-chart"></div>
    <div class="skeleton-modules">
      <div class="skeleton-module"></div>
      <div class="skeleton-module"></div>
      <div class="skeleton-module"></div>
    </div>
    <div class="skeleton-table">
      <div class="skeleton-row"></div>
      <div class="skeleton-row"></div>
      <div class="skeleton-row"></div>
    </div>
  </div>
</div>