<div class="container">
  <div class="tiles">
    <div class="tile">
      <div class="skeleton"></div>
    </div>
    <div class="tile">
      <div class="skeleton"></div>
    </div>
    <div class="tile">
      <div class="skeleton"></div>
    </div>
  </div>
  <div class="charts">
    <div class="chart">
      <div class="skeleton"></div>
    </div>
    <div class="chart">
      <div class="skeleton"></div>
    </div>
    <div class="chart">
      <div class="skeleton"></div>
    </div>
    <div class="chart">
      <div class="skeleton"></div>
    </div>
  </div>
  <div class="loading"></div>
</div>
