<div class="container">
  <h1 ngClass.lt-sm="mobileheading">Administration</h1>
  <div *ngIf="!this.addUser && !this.addData">
    <div>
      <h2>Administrationsaufgaben</h2>
      <p class="mat-caption greycolor">In diesem Bereich können Dashboard Administratoren ("Admin") und
        Zi-Administratoren ("Superadmin") Daten oder Nutzer*innen hinzufügen.</p>
    </div>
    <div>
      <button mat-raised-button (click)="openAddUserDialog()" color="primary">Nutzer hinzufügen</button>
    </div>
  </div>
  <div *ngIf="!this.addUser && !this.addData">
    <h2>Nutzerliste</h2>
    <p class="mat-caption greycolor">In diesem Bereich können Nutzerberechtigungen geändert werden.</p>
    <mat-card appearance="outlined">
      <table class="table" mat-table [dataSource]="this.users">
        <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <mat-icon class="matListIcon" color="accent" *ngIf="element['roles'].indexOf('superadmin')>=0"
              mat-list-icon>
              admin_panel_settings
            </mat-icon>
            <mat-icon *ngIf="element['roles'].indexOf('superadmin')<0" mat-list-icon>
              account_circle
            </mat-icon>
          </td>
        </ng-container>
        <ng-container matColumnDef="user">
          <th mat-header-cell *matHeaderCellDef> Nutzer </th>
          <td mat-cell *matCellDef="let element">
            {{ fullName(element) }}
          </td>
        </ng-container>
        <ng-container matColumnDef="rights">
          <th mat-header-cell *matHeaderCellDef> Rechte </th>
          <td mat-cell *matCellDef="let element">
            <mat-chip-listbox class="smallchips">
              <span *ngFor="let role of element.roles">
                <mat-chip-option>{{ toUpperCase(role) }}</mat-chip-option>
              </span>
            </mat-chip-listbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="group">
          <th mat-header-cell *matHeaderCellDef> Gruppen </th>
          <td mat-cell *matCellDef="let element">
            <ng-container *ngIf="element['usergroups']">
              <mat-chip-listbox class="smallchips">
                <span *ngFor="let group of element.usergroups.smed_reporting">
                  <mat-chip-option>{{ toUpperCase(group) }}</mat-chip-option>
                </span>
              </mat-chip-listbox>
            </ng-container>
            <ng-container *ngIf="!element['usergroups'] || !element['usergroups']['smed_reporting']">
              <mat-chip-listbox class="smallchips">
                <mat-chip-option>Public Access</mat-chip-option>
              </mat-chip-listbox>
            </ng-container>
          </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Aktionen </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button>
              <mat-icon (click)="openUpdateUserDialog(element)" mat-list-icon>
                settings
              </mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon (click)="openDeleteUserDialog(element)" color="warn" mat-list-icon>
                delete
              </mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card>
  </div>
</div>