.dashboard-container {
  margin: auto;
  max-width: 1300px;
}

header {
  position: relative;
  padding: 0;
  height: 80px;
}

h2 {
  text-align: left;
}

.logo-img {
  height: 50px;
  position: relative;
  right: 0;
  top: 0;
  bottom: 0;
}

.head-container {
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  justify-content: flex-end;
  float: left;
  padding-top: 1rem;
}

.information-container {
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 2px 16px;
  border-radius: 5px;
  background-color: #3b3b3b;
}

.dashboard-content {
  display: block;
}

.dashboard-content-header {
  display: block;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.grid-container {
  margin: 20px;
}

.tile-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  gap: 2rem;
}

.large-tile-grid {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  gap: 2rem;
}

.grid-tile {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 5px 16px 16px 16px;
  border-radius: 5px;
  background-color: #3b3b3b;
}

.grid-tile:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.textOverviewContainer {
  width: 100%;
  height: 100%;
  font-size: 45px;
  padding: 15px;
}

.textFirst {
  color: #61CFF1;
  font-weight: 800;
  word-wrap: break-word
}

.textFirstOffer {
  color: #F75F7C;
  font-weight: 800;
  word-wrap: break-word
}

.textFirstDemand {
  color: #EB9F47;
  font-weight: 800;
  word-wrap: break-word
}

.textSecond {
  color: white;
  font-weight: 800;
  word-wrap: break-word
}

.textThird {
  color: #3b3b3b;
  font-weight: 800;
  word-wrap: break-word
}

.overview-container {
  display: flex;
  justify-content: center;
}

.overview-container mat-grid-tile {
  margin: 0 1rem;
}

.hint-text {
  color: #9c9c9c;
  font-size: small
}

.map-icon {
  padding-left: 5px;
  padding-bottom: 5px;
  font-size: large;
}