.dashboard-container {
  margin: auto;
  max-width: 1300px;
}

header {
  position: relative;
  padding: 0;
  height: 80px;
}

h2 {
  text-align: left;
}

.logo-img {
  height: 50px;
  position: relative;
  right: 0;
  top: 0;
  bottom: 0;
  // filter: drop-shadow(2px 4px 6px #FFFFFF);
}

.head-container {
  display: flex;
  flex-flow: row wrap;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  justify-content: flex-end;
  float: left;
  padding-top: 1rem;
}

.grid-container {
   margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.textOverviewContainer {
  width: 100%;
  height: 100%;
  font-size: 45px;
  padding: 15px;
}

.textFirst {
  color: #61CFF1;
  font-weight: 800;
  word-wrap: break-word
}

.textFirstOffer {
  color: #F75F7C;
  font-weight: 800;
  word-wrap: break-word
}

.textFirstDemand {
  color: #EB9F47;
  font-weight: 800;
  word-wrap: break-word
}

.textSecond {
  color: white;
  font-weight: 800;
  word-wrap: break-word
}

.textThird {
  color: #6F6F6F;
  font-weight: 800;
  word-wrap: break-word
}

.grid-tile {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 2px 16px;
  border-radius: 5px;
  background-color: #3b3b3b;
}

.grid-tile:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.tile-container {
  // transition: 0.3s;
}