h1 {
  color: #ccc;
}

.form-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login-card {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.login-content {
  display: flex;
  flex-direction: column;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mat-mdc-card {
  margin: 0px
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.oauth-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;


  // button {
  //   display: flex;
  //   align-items: center;
  //   background-color: #f2f2f2;
  //   color: #333;
  //   border: none;
  //   border-radius: 4px;
  //   padding: 8px 16px;
  //   font-size: 14px;
  //   cursor: pointer;
  //   transition: background-color 0.3s ease;

  //   &:hover {
  //     background-color: #e0e0e0;
  //   }

  //   .material-symbols-outlined {
  //     font-size: 20px;
  //     margin-right: 8px;
  //   }
  // }

  .secondary-login-text {
    font-size: 14px;
    color: #d8d8d8;
    text-align: center !important;
  }
}