<form [formGroup]='form' class="form-wrapper">
  <mat-card class="login-card">
    <h1>Login</h1>
    <mat-dialog-content>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>E-Mail</mat-label>
        <input matInput type="email" placeholder="Email" name="email" formControlName='email' autocomplete="false"
          required>
      </mat-form-field>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Kennwort</mat-label>
        <div class="input-wrapper">
          <input matInput type="password" id="password" name="current-password" formControlName='password' required
            autocomplete="false">
          <button mat-icon-button class="icon-button" (click)="showPassword('password', 'icon')">
            <mat-icon>
              <span id="icon" class="material-symbols-rounded">
                visibility
              </span>
            </mat-icon>
          </button>
        </div>
      </mat-form-field>
      <mat-error *ngIf="hasLoginError">
        <strong>E-Mail oder Passwort falsch, bitte probieren Sie es noch einmal.</strong>
      </mat-error>
    </mat-dialog-content>
    <mat-dialog-actions class="actions">
      <button mat-raised-button mat-dialog-close>Schließen</button>
      <button mat-raised-button color="primary" (click)="login()">Login</button>
    </mat-dialog-actions>
  </mat-card>
</form>